<mat-card class="card-with-background">
  <div style="display: flex; flex-direction: row;">
    <div style="padding-top: 20px; padding-left: 20px">
      <img mat-card-xl-image src="assets/Shreyas_Kottur_Photo.jpg">
    </div>
    <div>
      <h1 style="padding-top: 40px; padding-left: 50px; color: white; font-size: xxx-large"> Hello, I'm Shreyas</h1>
    </div>
  </div>
  <mat-card-content style="padding-top: 50px">
    <p class="paragraphClass">
      I'm a passionate and results-driven full-stack developer with about two years of professional <br>  experience in the software industry.
      I've also spent about two years as a dedicated student <br>  research assistant, honing my problem-solving skills and staying at the forefront of <br>  technology  trends.
    </p>
    <p class="paragraphClass">
      As a full-stack developer, I've had the opportunity to work on a variety of challenging projects. <br>
      I specialize in crafting robust and scalable applications using Java, Spring, and Angular. <br>
      My responsibilities have included designing RESTful APIs, optimizing database performance,<br>  and creating responsive user interfaces with Angular Material.
      I also have experience with <br>  real-time communication through Websockets and message queuing using ActiveMQ.
    </p>
    <p class="paragraphClass">
      During my time as a student research assistant, I actively contributed to cutting-edge projects and <br> gained hands-on experience with emerging technologies.
      This role allowed me to develop strong <br> problem-solving  skills and a keen eye for detail, which I now bring to my professional work as <br> a developer.
    </p>
  </mat-card-content>
</mat-card>

